In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('datasets/census.csv')
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [16]:
for state in df['STNAME'].unique():
    avg = np.average(df[df['STNAME'] == state].dropna()['CENSUS2010POP'])
    
    print('State ' + state + ' has average 2010 population of ' + str(avg))

State Alabama has average 2010 population of 71339.34328358209
State Alaska has average 2010 population of 24490.724137931036
State Arizona has average 2010 population of 426134.4666666667
State Arkansas has average 2010 population of 38878.90666666667
State California has average 2010 population of 642309.5862068966
State Colorado has average 2010 population of 78581.1875
State Connecticut has average 2010 population of 446762.125
State Delaware has average 2010 population of 299311.3333333333
State District of Columbia has average 2010 population of 601723.0
State Florida has average 2010 population of 280616.5671641791
State Georgia has average 2010 population of 60928.63522012578
State Hawaii has average 2010 population of 272060.2
State Idaho has average 2010 population of 35626.86363636364
State Illinois has average 2010 population of 125790.50980392157
State Indiana has average 2010 population of 70476.10869565218
State Iowa has average 2010 population of 30771.262626262625
State Kansas has average 2010 population of 27172.55238095238
State Kentucky has average 2010 population of 36161.39166666667
State Louisiana has average 2010 population of 70833.9375
State Maine has average 2010 population of 83022.5625
State Maryland has average 2010 population of 240564.66666666666
State Massachusetts has average 2010 population of 467687.78571428574
State Michigan has average 2010 population of 119080.0
State Minnesota has average 2010 population of 60964.65517241379
State Mississippi has average 2010 population of 36186.54878048781
State Missouri has average 2010 population of 52077.62608695652
State Montana has average 2010 population of 17668.125
State Nebraska has average 2010 population of 19638.075268817203
State Nevada has average 2010 population of 158855.9411764706
State New Hampshire has average 2010 population of 131647.0
State New Jersey has average 2010 population of 418661.61904761905
State New Mexico has average 2010 population of 62399.36363636364
State New York has average 2010 population of 312550.03225806454
State North Carolina has average 2010 population of 95354.83
State North Dakota has average 2010 population of 12690.396226415094
State Ohio has average 2010 population of 131096.63636363635
State Oklahoma has average 2010 population of 48718.844155844155
State Oregon has average 2010 population of 106418.72222222222
State Pennsylvania has average 2010 population of 189587.74626865672
State Rhode Island has average 2010 population of 210513.4
State South Carolina has average 2010 population of 100551.39130434782
State South Dakota has average 2010 population of 12336.060606060606
State Tennessee has average 2010 population of 66801.1052631579
State Texas has average 2010 population of 98998.27165354331
State Utah has average 2010 population of 95306.37931034483
State Vermont has average 2010 population of 44695.78571428572
State Virginia has average 2010 population of 60111.29323308271
State Washington has average 2010 population of 172424.10256410256
State West Virginia has average 2010 population of 33690.8
State Wisconsin has average 2010 population of 78985.91666666667
State Wyoming has average 2010 population of 24505.478260869564

      Name Age
0  William  18
1    Clara  17
2   Carlos  20
3  Dellano  37
4      Ana  56